<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <title>To Do App</title>
</head>

<body>

  <%- include('../partials/header') %>

  <main>
    <ul>
      <li>Fake Item</li>
      <li>Fake Item</li>
    </ul>
  </main>

  <footer>
    &copy; 2020 John
  </footer>

  <%- include('../partials/scripts') %>

</body>

</html>
